/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,600;1,200;1,400;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27');
/*font-family: 'Roboto', sans-serif;*/

::selection {background: #f38e23;color: #fff;}
::-moz-selection {background: #000000;}
::-webkit-selection {background: #000000; color:rgb(0, 0, 0);}
::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(16, 16, 19);
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow:  inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(5,5,5,0.5); 
    
    /*background:rgb(17, 22, 31);
    border:0px solid #c6c6c648;*/
    background-image:linear-gradient(rgba(255, 88, 88, 0.733) 0%, rgba(248, 121, 57, 0.74) 47%, rgba(240, 150, 25, 0.726) 100%) ;

}

*{
    padding:0;
    margin:0;
    outline:none;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #0f1418;
    height:80px;
    width:100%;
    display:flex;
    justify-content:center;
    box-shadow: 0 0 30px 1px rgba(0,0,0,.50);
    margin:0;
    padding:0;
    
}
body{
    background:#181e2a;
    background-image: url(background.png);
    background-repeat: repeat;
    background-size: 20%;
}
a{
    color:#f38b26;
    text-decoration:none;
}
a:hover{
    color:#f38c26a4;
}
.header{
    display:flex;
    justify-content: space-between;
    height:100%;
    
}
.wrap-logo img{
    width: 60px;
    position: relative;
    
    display: inline-block;
    
}
.wrap-logo div{
    display: inline-block;
    margin-left: 13px;
    height:auto;
   /*vertical-align: center;*/
}
.wrap-logo{
    display:flex;
    justify-content:start;
    align-items: center;
}
.wrap-logo a{
    /*color:#fff;*/
    text-decoration:none;
    /*text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    text-transform: uppercase;*/
    font-size:20px;
    font-weight:450;
    /*font-style: italic;*/
    letter-spacing: 1px;
    display: inline-block;
    
    border-radius: 45px;
    margin: 0% 0% 0% 0%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    color: #ffffff;
    
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .2s;
}
.wrap-logo a:hover{
    color:#df7d13;
    /*transform: scaleX(1.05);*/
    
    transform: translateY(-3.1px);
    transition:.3;   
}
.wrap-logo b{
    color: #888;
    font-size: 14px;
    text-transform: uppercase;
    font-weight:500;
    margin-top:10px;
    
}
.wrap-logo>div>h2{
    margin: 0 0 4.2% 0;
}
.container{
    width: 1400px;
}
.container2{
    width: 1400px;
    /*background:rgba(32, 36, 39,0.5);
    margin-top:0%;
    box-shadow: 0 0 19px 2px rgba(0,0,0,.91);*/
}
.nav-bar{
    list-style: none;
    margin:30px 50px 0px 0px;
    
}
.nav-bar a{
    text-decoration:none;
    display: inline-block;
    color: #c6c6c6;
    font-size: 18px;
    font-weight: 450;
    transition: .2s color;
    text-transform: uppercase;
    
}
.nav-bar a:hover{
    color:rgba(255,255,255,0.5);
    transition:.3;
}
.nav-bar li{
    display: inline-block;
    padding:0px 0px 0px 50px;
    vertical-align: top;
    
}
.nav-bar-li-a-tel{
    display: inline-block;
    width:20px;
    height:20px;
    color:#fff;
    background-color: #262a2e;
    border-radius:100px;
    padding:10px;
    vertical-align: top;
    position: relative;
    bottom:8px;
    margin-left:50px;
    border-radius: 50%;
/*background: linear-gradient(145deg, #0b0e11, #0d1114);
/*box-shadow:  10px 10px 20px #050608,
             -10px -10px 20px #131a1e;*/
             background-image: -moz-linear-gradient( -32deg, rgb(255,88,88) 0%, rgb(248,120,57) 47%, rgb(240,152,25) 100%);
             background-image: -webkit-linear-gradient( -32deg, rgb(255,88,88) 0%, rgb(248,120,57) 47%, rgb(240,152,25) 100%);
             background-image: -ms-linear-gradient( -32deg, rgb(255,88,88) 0%, rgb(248,120,57) 47%, rgb(240,152,25) 100%);
              box-shadow: 0px 75px 106px 0px rgba(0, 0, 0, 0.27);
  transition: .3s;
    
}
.nav-bar-li-a-tel:hover{
     /*background: #ed8614;*/
     box-shadow: 0 5px 20px  rgba(184,91,47,0.3);
     color: white;
     transform: translateY(-7px);
     background-image: -moz-linear-gradient( -32deg, rgb(194,68,68) 0%, rgb(184,91,47) 47%, rgb(173,113,26) 100%);
  background-image: -webkit-linear-gradient( -32deg, rgb(194,68,68) 0%, rgb(184,91,47) 47%, rgb(173,113,26) 100%);
  background-image: -ms-linear-gradient( -32deg, rgb(194,68,68) 0%, rgb(184,91,47) 47%, rgb(173,113,26) 100%);
  /*box-shadow: 0px 3px 68px 0px rgba(0, 0, 0, 0.27);*/
   transition: .3s;
}
/*.burger-button{
    display: block;
    position: relative;
    
}*/
.burger-button{

    align-items: center;
    display: none;
    height: 100%;
    justify-content: flex-end;
    margin: 0;
    padding:0;
    overflow: hidden;
    position: relative;
    width: 80px;
  }
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #ec8713;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  
  .ham6 .top {
    stroke-dasharray: 40 172;
  }
  .ham6 .middle {
    stroke-dasharray: 40 111;
  }
  .ham6 .bottom {
    stroke-dasharray: 40 172;
  }
  .ham6.active .top {
    stroke-dashoffset: -132px;
  }
  .ham6.active .middle {
    stroke-dashoffset: -71px;
  }
  .ham6.active .bottom {
    stroke-dashoffset: -132px;
  }
  


.content{
    
    display:flex;
    justify-content:center;
    width: 100%;
}
article{
    display:flex;
    align-items: start;
    margin-top:8%;
    margin-bottom:8%;
    
    /*background:#080c0f;*/
    
    /*border-radius:4px;*/
    width:100%;
    height:auto;
   /* border-radius: 32px;
background: linear-gradient(145deg, #161b26, #1a202d);
box-shadow:  41px 41px 65px #0a0c11,
             -41px -41px 65px #263043;*/



             border-radius: 40px;
  background-image: -moz-linear-gradient( -32deg, rgb(17,22,31) 0%, rgb(17,22,31) 47%, rgb(17,21,30) 100%);
  background-image: -webkit-linear-gradient( -32deg, rgb(17,22,31) 0%, rgb(17,22,31) 47%, rgb(17,21,30) 100%);
  background-image: -ms-linear-gradient( -32deg, rgb(17,22,31) 0%, rgb(17,22,31) 47%, rgb(17,21,30) 100%);
  box-shadow: 0px 75px 106px 0px rgba(0, 0, 0, 0.27);
  
  z-index: 16;
}
article img{
    width:100%;
    margin:3.5% 3.5% 2% 0%;
    /*box-shadow: 0 0 19px 2px rgba(0,0,0,.91);
    border-radius:4px;*/
    border-radius: 40px;
  opacity: 0.98;
  box-shadow: 0px 3px 51px 0px rgba(0, 0, 0, 0.24);
  z-index: 18;
}
article>div>h2{
    margin: 0 0 0 -32px;
}

article>div>h2>a{
    font-family: 'Montserrat', sans-serif;
    color:#ffffffd8;
    font-size:30px;
    font-weight:500;
    margin-bottom:2%;
    
}
article>div>h2>a:hover{
    color: #ffffffd8;
}
article h2:before{
    content: '\1F517';
    opacity:0;
    font-size:20px;
    transition: .1s;
    
}

article h2:hover:before{
    content: '\1F517';
    opacity:1;
    transition: .1s;
}

article p{
    
    color: #888;
    font-size: 18px;
    font-weight: 400;
    margin:2% 0 0% 0;
    padding:0 0 0 0px;
    line-height:1.2;
}
article div{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    padding:3.5% 2% 3.5% 3.5%;
    margin:0% 0% 0% 0%;
    height:100%;
    
}

.chield{
    margin:0% 0px 0px 0px;
    box-shadow: 0 0 15px 5px rgba(184, 90, 47, 0.567);
    height:245px;
    background: url(chield.png),linear-gradient(
        32deg
        , rgb(194,68,68) 0%, rgb(184,91,47) 47%, rgb(173,113,26) ) 47% 0%; 
    display:flex;
    justify-content: center;
  }
  .shield-container{
      display:flex;
      flex-direction: column;
      justify-content:center;
      align-items: flex-start;
      width:1400px;
      height:100%;
  }
  .chield>.shield-container>h1{
    font-weight:500;
    font-size:70px;
    width:100%;
    text-align: left;
    margin:0 0 0 0 ;
    color: #ffffffd8;
  }
 
  .chield-info{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin:20px 0px 0px 25px;
    
    list-style-position: inside;
  }
  .chield-info>li{
    /*line-height:18px;*/
    list-style-type:disc;
    
    
  }
  .chield-info>li::marker{
      color: #f36315;
      font-size: 21px;
      
  }
  .chield-info>li>span{
    color: #c6c6c6;
    padding:0px 0px  0px 0px;
    font-size:18px;
    font-weight:400;
    
  }

.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 3% 0% 0% 0%;
   /* position: relative;
    bottom:1px;*/
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    color: #ffffff;
    background: #51575c;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .2s;

    background-image: -moz-linear-gradient( -32deg, rgb(255,88,88) 0%, rgb(248,120,57) 47%, rgb(240,152,25) 100%);
  background-image: -webkit-linear-gradient( -32deg, rgb(255,88,88) 0%, rgb(248,120,57) 47%, rgb(240,152,25) 100%);
  background-image: -ms-linear-gradient( -32deg, rgb(255,88,88) 0%, rgb(248,120,57) 47%, rgb(240,152,25) 100%);
  box-shadow: 0px 3px 68px 0px rgba(0, 0, 0, 0.27);
  }
  .floating-button:hover {
    /*background: #ed8614;*/
    box-shadow: 0 5px 20px  rgba(184,91,47,0.3);
    color: white;
    transform: translateY(-7px);
    background-image: -moz-linear-gradient( -32deg, rgb(194,68,68) 0%, rgb(184,91,47) 47%, rgb(173,113,26) 100%);
  background-image: -webkit-linear-gradient( -32deg, rgb(194,68,68) 0%, rgb(184,91,47) 47%, rgb(173,113,26) 100%);
  background-image: -ms-linear-gradient( -32deg, rgb(194,68,68) 0%, rgb(184,91,47) 47%, rgb(173,113,26) 100%);
  /*box-shadow: 0px 3px 68px 0px rgba(0, 0, 0, 0.27);*/
  transition: .2s;
  }


footer{
    background-color:#0f1418;
    height:auto;
    display:flex;
    justify-content:center;
    /*background-image: -moz-linear-gradient( 190 deg, rgb(24,30,42) 0%, rgb(18,22,31) 47%, rgb(11,14,20) 100%);
    background-image: -webkit-linear-gradient( 190 deg, rgb(24,30,42) 0%, rgb(18,22,31) 47%, rgb(11,14,20) 100%);
    background-image: -ms-linear-gradient( 190 deg, rgb(24,30,42) 0%, rgb(18,22,31) 47%, rgb(11,14,20) 100%);*/
    background-color:#0a0c11;
    box-shadow: 56.603px 49.204px 106px 0px rgba(0, 0, 0, 0.23),-41.934px -27.232px 106px 0px rgba(0, 0, 0, 0.22);
       
        
        
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items:start;
    height: 100%;
    padding:0;
    margin:0% 0% 2% 0%;
}
.footer-description{
    margin:3% 0% 0% 0%;
    font-size: 14px;
    /*letter-spacing: 2px;*/
    color: rgba(255, 255, 255, 0.829);
    font-weight: 450;
    line-height: 1.4;
    text-align: left;
    
}
.footer-wrapper{
    display:flex;
    flex-direction: column;
    margin-top:0.6%;
}
.socialclubs{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin:0;
    height:100%;
}
.by{
    margin:3% 0% 0% 0%;
    color: rgba(255, 255, 255, 0.486);
    font-weight:500;
    font-size:13px;
}

article iframe {
    width:100%;
    height:300px;
    margin:3.5% 3.5% 2% 0%;
    /*box-shadow: 0 0 19px 2px rgba(0,0,0,.91);
    border-radius:4px;*/
    border-radius: 40px;
  opacity: 0.98;
  box-shadow: 0px 3px 51px 0px rgba(0, 0, 0, 0.24);
  z-index: 18;
}
article>img {
    
    width:637px;
    /*height:300px;*/
    margin:3.5% 3.5% 2% 0%;
    /*box-shadow: 0 0 19px 2px rgba(0,0,0,.91);
    border-radius:4px;*/
    border-radius: 40px;
  opacity: 0.98;
  box-shadow: 0px 3px 51px 0px rgba(0, 0, 0, 0.24);
  z-index: 18;
}
.supporters{
    display: flex;
    height:100%;
    align-items:center;
    justify-content:space-between;
    width:250px;
}
.supporters>a>img{
    
    width:100px;
    height:100px;
    opacity:1;
}

/*.hyper-links{
    position: sticky;
    left: -200px;
    top:0px;
    background-color: red;
    width:100px;
    height:300px;
}
*/
/*@media (min-width:300px) and (max-width:600px){
    .chield-info{
        display: none;
    }
}*/


    
    
@media (min-width:300px) and (max-width:1000px){
    /*.youtube-video{
        display:none;
    }*/
    
    .shield-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .chield>.shield-container>h1{
        width: auto;
    }
    .chield-info{
        margin: 0;
        flex-direction: column;
        justify-content: space-around;
        height:100%;
    }
    .nav-bar{
        display:none;
    }
    .burger-button{
        display: flex;
    }
    .container{
        width:800px;
    }
    article h2{
        font-size:16px;
    }
    article{
        flex-direction: column;
    }
    article p{
        font-size: 12px;
    }
    article>div{
        width:auto;
    }
    article>img{
        width: 400px;
    }
    .floating-button{
        width: 60px;
        height:30px;
        line-height:30px;
        font-size:10px;
        display:none;
    }
    .footer-description, .supporters{
        display:none;
    }
}
@media (min-width:1000px) and (max-width:1400px){
    /*.slider{
        width:100%;
    }*/
    /*.slider h1{
        font-size:1.91vw;
    }*/
   /* .header{
        margin:0% 5% 0% 5%;
    }*/
    /*.container, .container2{
        width:calc( (100vw - 1000px)/(1400 - 1000) * (1400 - 1000) + 1000px);
    }*/
    article p{
        font-size: calc( (100vw - 1000px)/(1400 - 1000) * (18 - 12) + 12px);
    }
    article h2{
        font-size: calc( (100vw - 1000px)/(1400 - 1000) * (30 - 16) + 16px);
    }
    article>img{
        width: calc( (100vw - 1000px)/(1400 - 1000) * (637 - 418) + 418px);
    }
    .floating-button{
        display:none;
    }
}
